/************** gooogle font link***************** 
**************************************************/


@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
body{
    font-family: 'Titillium Web', sans-serif;
    background:#E3E4E9;
}

/* container design  */

.container{
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    margin: 20px    ;
}

/* grid  */
.grid-style{
    display: grid;
    /* display: flex; */
    grid-template-columns:repeat(4,1fr);
    grid-gap: 10px;
    margin:100px 50px ;
    cursor: pointer;
   
}
.grid-item{
    background:white;
    border:1px solid rgba(255, 255, 255, 0.2);
    border: 1px solid #E3E4E9;
    padding: 10px;

     
    
}
#info{
  
  margin-left:  50px;
}

/* card design  */
#card-img{
    width: 50%;
    height: auto;
    
}

#card-body{
    text-align: center  ;
    /* line-height: 10px; */
}

/* input field  */

#search-field{
    height: 30.5px;
    border: none;
    width: 300px;
    padding-left: 10px;
}

#search-btn{
    height: 32px;
    color: White;
    background: rgb(35, 117, 35);
    border: none;
    padding: 0px 20px;
}
#required{
    text-align: center;
    
    
}