/************** gooogle font link***************** 
**************************************************/


@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
body{
    font-family: 'Titillium Web', sans-serif;
    background:#E3E4E9;
}

/* grid  */
.grid-style{
    display: grid;
    /* display: flex; */
    grid-template-columns:repeat(4,1fr);
    grid-gap: 10px;
    margin:100px 50px ;
   
}
.grid-item{
    background:white;
    border:1px solid rgba(255, 255, 255, 0.2);
    border: 1px solid #E3E4E9;
    padding: 10px;

     
    
}
.container{
    display: flex;
    justify-content: center;
    margin: 20px    ;
}

#card-body{
    text-align: center  ;
}
#card-img{
    width: 100%;
}